<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8">
	<title>添加住房</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" th:href="@{/css/oksub.css}">
	<script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body>
<div class="ok-body" shiro:hasPermission="1">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form">
		<input type="hidden" id="buildingId", name="buildingId" class="layui-input">
		<input type="hidden" id="unitId" name="unitId" class="layui-input">

		<div class="layui-form-item">
			<label class="layui-form-label">楼宇号</label>
			<div class="layui-input-block">
				<select id="buildingNumber" name="buildingNumber" lay-filter="buildingNumber"></select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">单元号</label>
			<div class="layui-input-block">
				<select id="unitNumber" name="unitNumber" lay-filter="unitNumber"></select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">房屋号</label>
			<div class="layui-input-block">
				<input type="text" name="houseNumber" placeholder="请输入房屋号（格式：1202代表12楼层第2号房）" autocomplete="off" class="layui-input"
					   lay-verify="required|number|houseNumber">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">户型</label>
			<div class="layui-input-block">
				<select id="houseType" name="houseType" lay-filter="houseType" lay-search lay-verify="required">
					<option value="一居室">一居室</option>
					<option value="二居室">二居室</option>
					<option value="三居室">三居室</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">房屋面积</label>
			<div class="layui-input-block">
				<input type="text" name="houseArea" placeholder="请输入房屋面积（单位：㎡）" autocomplete="off" class="layui-input" lay-verify="required|number">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">住户人数</label>
			<div class="layui-input-block">
				<input type="text" name="housePeopleCount" placeholder="请输入住户人数" autocomplete="off" class="layui-input" lay-verify="number">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">危险性鉴定等级</label>
			<div class="layui-input-block">
				<select id="houseRiskLevel" name="houseRiskLevel" lay-filter="houseRiskLevel" lay-search lay-verify="required">
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">房屋使用现状</label>
			<div class="layui-input-block">
				<select id="houseUseStatus" name="houseUseStatus" lay-filter="houseUseStatus" lay-search>
					<option value="" selected>暂未出售</option>
					<option value="自用">自用</option>
					<option value="租借">租借</option>
					<option value="闲置">闲置</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">房间数量</label>
			<div class="layui-input-block">
				<input type="text" name="roomCount" placeholder="请输入房间数量" autocomplete="off" class="layui-input" lay-verify="number">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">是否出售</label>
			<div class="layui-input-block">
				<select id="saleInfo" name="saleInfo" lay-filter="saleInfo" lay-search lay-verify="required">
					<option value="0" selected>未售</option>
					<option value="1">已售</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">入住时间</label>
			<div class="layui-input-block">
				<input type="text" name="checkInTime" placeholder="请输入入住时间" autocomplete="off" class="layui-input"
					   id="checkInTime">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"></script>
<script>
	layui.use(["element", "form", "laydate", "okLayer", "okUtils"], function () {
		let form = layui.form;
		let laydate = layui.laydate;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.$;
		okLoading.close();

		form.verify({
			number: [/^[0-9]*$/,"该项必须是数字"],
			houseNumber: [/[1-9][0-9]?[0][1-9][0-9]?/,"房屋号码格式有误（每层住户不超过10户）"]
		});
		laydate.render({elem: '#checkInTime', type: 'date',trigger: 'click'});


		function getSelectData(){ //获取下拉框的值number
			okUtils.ajax("/building/selectDistinctNumber", "get",
					{}, false).done(function (response) {
				// console.log(response);
				let select = $("select[id='buildingNumber']");
				// $("select[id='unitNumber']").empty();
				select.html("");
				select.append("<option value=''>请选择楼宇号</option>");
				$.each(response, function (i, item) {
					select.append("<option value="+ item+">"+ item+"号楼</option>");
				});

				form.render('select');
			}).fail(function (error) {
				console.log(error)
			});
		}

		layer.ready(function () {
			getSelectData();
		});

		var buildingNumber,unitNumber;
		form.on("select(buildingNumber)", function (data) {
			buildingNumber = data.value;

			//填充隐藏域buildingId
			if(data.value!=='' && data.value!=null){
				okUtils.ajax("/building/selectDistinctId", "get",
						{number:data.value}, false).done(function (response) {
					$("#buildingId").val(response);

					//填充unitNumber下拉框
					okUtils.ajax("/unit/selectDistinctUnitNumber", "get",
							{buildingId: response}, false).done(function (response) {
						// console.log(response.length);

						let select = $("select[id='unitNumber']");
						select.empty();
						select.html("");
						select.append("<option value=''>请选择单元号</option>");
						$.each(response, function (i, item) {
							select.append("<option value="+ item+">"+ item+"单元</option>");
						});

						form.render('select');
					}).fail(function (error) {
						console.log(error)
					});

					form.render();

				}).fail(function (error) {
					console.log(error)
				});
			}

		});

		form.on("select(unitNumber)", function (data) {
			unitNumber = data.value;

			if (data.value !== '' && data.value != null) {
				okUtils.ajax("/unit/selectDistinctUnitId", "get",
						{buildingNumber:buildingNumber, unitNumber: data.value}, false).done(function (response) {
					$("#unitId").val(response);
					// console.log("response = " + response);
					form.render();

				}).fail(function (error) {
					console.log(error)
				});
			}
		});



		form.on("submit(add)", function (data) {

			let house = {
				id: '',
				houseNumber: data.field.houseNumber,
				houseType: data.field.houseType,
				houseArea: data.field.houseArea,
				housePeopleCount: data.field.housePeopleCount,
				houseRiskLevel: data.field.houseRiskLevel,
				houseUseStatus: data.field.houseUseStatus,
				roomCount: data.field.roomCount,
				saleInfo: data.field.saleInfo,
				checkInTime: data.field.checkInTime,
				unit: {
					id: data.field.unitId,
					building: {
						id: data.field.buildingId
					}
				}
			};

			$.ajax({
				url: "/house/addHouse",
				type:"put",
				data: JSON.stringify(house),
				contentType: "application/json",
				success:function (response) {
					console.log(response);
					if(response === 1) {
						okLayer.greenTickMsg("添加成功", function () {
							parent.layer.close(parent.layer.getFrameIndex(window.name));
						});
					}
					else if(response === 2){
						okLayer.yellowSighMsg("此房屋已存在，不可重复添加",function () {
							parent.layer.close(parent.layer.getFrameIndex(window.name));
						});
					}
					else if(response === 0){
						okLayer.yellowSighMsg("添加失败",function () {
							parent.layer.close(parent.layer.getFrameIndex(window.name));
						});
					}
					else if(response === 3){
						okLayer.yellowSighMsg("超出该单元的所设定的楼层数了",function () {
							parent.layer.close(parent.layer.getFrameIndex(window.name));
						});
					}
					else if(response === 4){
						okLayer.yellowSighMsg("超出该楼层的所设定的房间数量了",function () {
							parent.layer.close(parent.layer.getFrameIndex(window.name));
						});
					}
				},
				error:function () {
					console.log("error");
				}
			});


			return false;
		});
	});
</script>
</body>
</html>
