<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="UTF-8">
	<title>更新住房信息</title>
	<link rel="stylesheet" th:href="@{/css/oksub.css}">
	<script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body>
<div class="ok-body" shiro:hasPermission="1">
	<!--form表单-->
	<form class="layui-form ok-form" lay-filter="filter">

		<input type="hidden" name="houseId" class="layui-input">
		<input type="hidden" name="buildingId" class="layui-input">
		<input type="hidden" name="unitId" class="layui-input">

		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">楼宇号</label>
			<div class="layui-input-block">
				<input type="text" name="buildingNumber" readonly unselectable="on"
					   autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">单元号</label>
			<div class="layui-input-block">
				<input type="text" name="unitNumber" readonly unselectable="on"
					   autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">房屋号</label>
			<div class="layui-input-block">
				<input type="text" name="houseNumber" readonly unselectable="on" a
					   utocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">户型</label>
			<div class="layui-input-block">
				<select id="houseType" name="houseType" lay-filter="houseType" lay-search
						lay-verify="required">
					<option value="一居室">一居室</option>
					<option value="二居室">二居室</option>
					<option value="三居室">三居室</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">房屋面积</label>
			<div class="layui-input-block">
				<input type="text" name="houseArea" autocomplete="off" class="layui-input"
					   lay-verify="required|number">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">住户人数</label>
			<div class="layui-input-block">
				<input type="text" name="housePeopleCount" autocomplete="off" class="layui-input"
					   lay-verify="required|number">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">危险性鉴定等级</label>
			<div class="layui-input-block">
				<select id="houseRiskLevel" name="houseRiskLevel" lay-filter="houseRiskLevel"
						lay-search lay-verify="required">
					<option value="A">A</option>
					<option value="B">B</option>
					<option value="C">C</option>
					<option value="D">D</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">房屋使用现状</label>
			<div class="layui-input-block">
				<select id="houseUseStatus" name="houseUseStatus" lay-filter="houseUseStatus"
						lay-search lay-verify="required">
					<option value="" selected>暂未出售</option>
					<option value="自用">自用</option>
					<option value="租借">租借</option>
					<option value="闲置">闲置</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">房间数量</label>
			<div class="layui-input-block">
				<input type="text" name="roomCount" autocomplete="off" class="layui-input"
					   lay-verify="required|number">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label requiredDot">是否出售</label>
			<div class="layui-input-block">
				<select id="saleInfo" name="saleInfo" lay-filter="saleInfo" lay-search
						lay-verify="required">
					<option value="0" selected>未售</option>
					<option value="1">已售</option>
				</select>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">入住时间</label>
			<div class="layui-input-block">
				<input type="text" name="checkInTime" autocomplete="off" class="layui-input"
					   id="checkInTime">
			</div>
		</div>

		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<style>
	label.requiredDot:before {
		content: '* ';
		color: red;
		font-size: 20px;
	}
</style>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"></script>
<script>
	let initData;

	function formatDate(now) {
		var year=now.getFullYear();  //取得4位数的年份
		var month=now.getMonth()+1;  //取得日期中的月份，其中0表示1月，11表示12月
		var date=now.getDate();      //返回日期月份中的天数（1到31）
		return year+"-"+month+"-"+date;
	}


	function initForm(data) {
		let d=new Date(data.checkInTime);
		data.checkInTime = formatDate(d); //把时间戳格式化为日期
		// console.log(data.unit.unitNumber);

		let house = {
			houseId: data.id,
			buildingId: data.unit.building.id,
			unitId: data.unit.id,
			buildingNumber: data.unit.building.buildingNumber,
			unitNumber: data.unit.unitNumber,
			houseNumber: data.houseNumber,
			houseType: data.houseType,
			houseArea: data.houseArea,
			housePeopleCount: data.housePeopleCount,
			houseRiskLevel: data.houseRiskLevel,
			houseUseStatus: data.houseUseStatus,
			roomCount: data.roomCount,
			saleInfo: data.saleInfo,
			checkInTime: data.checkInTime
		};

		initData = house;
	}

	layui.use(["element", "form", "laydate", "okLayer", "okUtils"], function () {
		let form = layui.form;
		let laydate = layui.laydate;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.$;
		okLoading.close();

		initForm(parent.editData);
		form.val("filter",initData);
		form.render();

		form.verify({
			number: [/^[0-9]*$/,"该项必须是数字"]
		});
		laydate.render({elem: '#checkInTime', type: 'date',trigger: 'click'});


		form.on("submit(edit)", function (data) {

			let house = {
				id: data.field.houseId,
				houseNumber: data.field.houseNumber,
				houseType: data.field.houseType,
				houseArea: data.field.houseArea,
				housePeopleCount: data.field.housePeopleCount,
				houseRiskLevel: data.field.houseRiskLevel,
				houseUseStatus: data.field.houseUseStatus,
				roomCount: data.field.roomCount,
				saleInfo: data.field.saleInfo,
				checkInTime: data.field.checkInTime,
				unit: {
					id: data.field.unitId,
					building: {
						id: data.field.buildingId
					}
				}
			};

			$.ajax({
				url: "/house/updateHouse",
				type:"put",
				data: JSON.stringify(house),
				contentType: "application/json",
				success:function (response) {
					console.log(response);
						if(response === 1){
							okLayer.greenTickMsg("修改成功", function () {
								parent.layer.close(parent.layer.getFrameIndex(window.name));
							});
						}
						else{
							okLayer.redCrossMsg("修改失败", function () {
								parent.layer.close(parent.layer.getFrameIndex(window.name));
							});
						}
				},
				error:function () {
					console.log("error");
				}
			});



			return false;
		});
	})
</script>
</body>
</html>
