<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>居民列表</title>
	<link rel="stylesheet" th:href="@{/css/oksub.css}">
	<script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body>
<div class="ok-body">
	<!--搜索区域-->
	<div class="layui-row">
		<form class="layui-form"  lay-filter="search">
			<div class="layui-form-item">
				<label class="layui-form-label" style="color: red">按楼栋查询</label>
				<div class="layui-inline">
					<input type="hidden" id="buildingId" name="buildingId" class="layui-input">
					<div class="layui-input-inline">
						<select id="buildingNumber" name="buildingNumber" lay-filter="buildingNumber" lay-search></select>
					</div>

					<input type="hidden" id="unitId" name="unitId" class="layui-input">
					<div class="layui-input-inline">
						<select id="unitNumber" name="unitNumber" lay-filter="unitNumber" lay-search></select>
					</div>

					<input type="hidden" id="houseId" name="houseId" class="layui-input">
					<div class="layui-input-inline">
						<select id="houseNumber" name="houseNumber" lay-filter="houseNumber" lay-search></select>
					</div>
					<div class="layui-input-inline">
						<button class="layui-btn" lay-submit="" lay-filter="search">
							<i class="layui-icon">&#xe615;</i>
						</button>
					</div>
				</div>
			</div>
		</form>


		<form class="layui-form"  lay-filter="searchByName">
			<div class="layui-form-item">
				<label class="layui-form-label" style="color: red">按姓名查询</label>
				<div class="layui-inline">
					<div class="layui-input-inline">
						<input type="text" id="searchByName" placeholder="支持模糊查询" name="name" class="layui-input">
					</div>
					<div class="layui-input-inline">
						<button class="layui-btn" lay-submit="" lay-filter="searchByName">
							<i class="layui-icon">&#xe615;</i>
						</button>
					</div>
				</div>
			</div>
		</form>


	</div>
	<!--数据表格-->
	<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>

	<style type="text/css">
		.layui-table-cell{
			height: auto !important;
			white-space: normal;
		}

	</style>
</div>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"></script>
<script>
	var editData;

	layui.use(["element", "jquery", "table", "form", "okLayer", "okUtils"], function () {
		let table = layui.table;
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.jquery;
		okLoading.close($);

		let residentTable = table.render({
			elem: '#tableId',
			url: "/resident/getAllResident",
			where:{buildingId: '',unitId:'',houseId:''},
			limit: 10,
			limits: [10,20,30,40,50,100],
			page: true,
			toolbar: "#toolbarTpl",
			totalRow: true,
			size: "sm",
			cols: [
					[
				{type: "checkbox", fixed: "left", style:"height:140px;"},
							// data.id 没必要显示，即为隐藏域
				{field: "buildingNumber", title: "楼宇号",width:70,
					templet: "<div>{{d.house.unit.building.buildingNumber}}号楼</div>"},
				{field: "unitNumber", title: "单元号", width:70,
					templet: "<div>{{d.house.unit.unitNumber}}单元</div>"},
				{field: "houseNumber", title: "房屋号", width:70,
					templet: "<div>{{d.house.houseNumber}}室</div>"},
				{field: "name", title: "姓名", width:70},
				{field: "photo", title: "照片",  align:'center', width:130,
					// templet: '<div><img src="/residentPhoto/{{d.photo}}" ></div>'
					templet: function (data) {
						if(data.photo == null || data.photo =="")
							return "暂无";
						else
							return '<div><img src="/residentPhoto/ ' + data.photo + ' " ></div>'

					}
				},
				{field: "gender", title: "性别", width:60},
				{field: "birthday", title: "生日", align:'center', width:100, templet: function (data) {
						if(data.birthday==null) return "暂无";
						return layui.util.toDateString(data.birthday,'yyyy-MM-dd')}},
				{field: "telephoneNumber", title: "手机号码" , align:'center', width:110},
				{field: "identityCard", title: "身份证号", align:'center', width:160},
				{field: "censusRegister", title: "户籍", align:'center', width:110},
				{field: "educationalLevel", title: "教育程度", width:80,},
				{field: "party", title: "所属党派", width:100, templet: function (data) {
						if(data.party==null || data.party=="") return "无";
						else return data.party;}},
				{field: "isHeadOfHousehold", title: "是否是户主", width:100,templet: function (data) {
						if(data.isHeadOfHousehold == 0) return "否";
						else return "是";}},

				{title: "操作", width:80, style:"height:140px;", align: "center", fixed: "right", templet: "#operationTpl"}
			]
			],
			done: function (res, curr, count) {
				// console.info(res.data);
			}
		});

		table.on("toolbar(tableFilter)", function (obj) {
			switch (obj.event) {
				case "batchDel":
					batchDel();
					break;
				case "add":
					add();
					break;
				case "all":
					all();
					break;
			}
		});

		table.on("tool(tableFilter)", function (obj) {
			let data = obj.data;
			switch (obj.event) {
				case "edit":
					edit(data);
					break;
				case "del":
					del(data.id);
					break;
			}
		});

		function batchDel() {
			okLayer.confirm("确定要批量删除吗？", function (index) {
				layer.close(index);
				let idArray = okUtils.tableBatchCheck(table,'id');

				if (idArray.length !== 0) {
					$.ajax({
						url:"/resident/deleteResident",
						type:"delete",
						data:{idArray: idArray},
						traditional:true,
						success:function (response) {
							if(response === 1){
								getSelectData();
								residentTable.reload();
								okUtils.tableSuccessMsg("删除成功");
							}
						},
						error:function () {
							console.log("error");
						}
					});
				}
			});
		}

		function add() {
			okLayer.open("添加住户", "resident-add.html", "80%", "90%", null, function () {
				getSelectData();
				residentTable.reload();  // 表格重载

			})
		}

		function all() {
			residentTable.reload({
				url: "/resident/getAllResident",
				where:null,
				page: {curr: 1}
			});
		}

		function edit(data) {
			editData = data;
			okLayer.open("更新居民信息", "resident-edit.html", "90%", "90%", function (layero) {
				// var iframeWin = window[layero.find("iframe")[0]["name"]];
				// iframeWin.initForm(data);
			}, function () {
				residentTable.reload();
			})
		}

		function del(id) {
			okLayer.confirm("确定要删除吗？", function () {
				var idArray = [];
				idArray.push(id);
				$.ajax({
					url:"/resident/deleteResident",
					type:"delete",
					data:{idArray: idArray},
					traditional:true,
					success:function (response) {
						if(response === 1){
							getSelectData();
							residentTable.reload();
							okUtils.tableSuccessMsg("删除成功");
						}
					},
					error:function () {
						console.log("error");
					}
				});

			})
		}


		function getSelectData(){ //获取下拉框的值number
			okUtils.ajax("/building/selectDistinctNumber", "get",
					{}, false).done(function (response) {
				// console.log(response.length);
				let select = $("select[id='buildingNumber']");
				$("select[id='unitNumber']").empty();
				$("select[id='houseNumber']").empty();
				select.html("");
				select.append("<option value=''>请选择楼宇号</option>");
				$.each(response, function (i, item) {
					select.append("<option value="+ item+">"+ item+"号楼</option>");
				});

				form.render('select','search');
			}).fail(function (error) {
				console.log(error)
			});
		}

		layer.ready(function () {
			getSelectData();
		});


		var buildingNumber,unitNumber;
		form.on("select(buildingNumber)", function (data) {
			buildingNumber = data.value;

			//填充隐藏域buildingId
			if(data.value!=='' && data.value!=null){
				okUtils.ajax("/building/selectDistinctId", "get",
						{number:data.value}, false).done(function (response) {
					$("#buildingId").val(response);


					//填充unitNumber下拉框
					okUtils.ajax("/unit/selectDistinctUnitNumber", "get",
							{buildingId: response}, false).done(function (response) {
						// console.log(response.length);

						let select = $("select[id='unitNumber']");
						select.empty();
						select.html("");
						select.append("<option value=''>请选择单元号</option>");
						$.each(response, function (i, item) {
							select.append("<option value="+ item+">"+ item+"单元</option>");
						});

						form.render('select','search');
					}).fail(function (error) {
						console.log(error)
					});

					form.render();

				}).fail(function (error) {
					console.log(error)
				});
			}

		});

		form.on("select(unitNumber)", function (data) {
			unitNumber = data.value;

			//填充unitId隐藏域
			if (data.value !== '' && data.value != null) {
				okUtils.ajax("/unit/selectDistinctUnitId", "get",
						{buildingNumber:buildingNumber, unitNumber: data.value}, false).done(function (response) {
					$("#unitId").val(response);
					// console.log("response = " + response);

					//填充houseNumber下拉框
					okUtils.ajax("/house/selectDistinctHouseNumber", "get",
							{unitId: response}, false).done(function (response) {
						// console.log(response);
						let select = $("select[id='houseNumber']");
						select.empty();
						select.html("");
						select.append("<option value=''>请选择房间号</option>");
						$.each(response, function (i, item) {
							select.append("<option value="+ item+">"+ item+"室</option>");
						});
						form.render('select');
					}).fail(function (error) {
						console.log(error)
					});

					form.render();

				}).fail(function (error) {
					console.log(error)
				});
			}
		});

		form.on("select(houseNumber)", function (data) {
			houseNumber = data.value;

			//填充unitId隐藏域
			if (data.value !== '' && data.value != null) {
				okUtils.ajax("/house/selectDistinctHouseId", "get",
						{buildingNumber:buildingNumber, unitNumber: unitNumber, houseNumber: data.value}, false).done(function (response) {
					$("#houseId").val(response);
					// console.log("response = " + response);


					form.render();
				}).fail(function (error) {
					console.log(error)
				});
			}
		});



		form.on("submit(search)", function (data) {
			residentTable.reload({
				url: "/resident/getAllResident",
				where: {buildingId: data.field.buildingId, unitId: data.field.unitId, houseId: data.field.houseId},
				page: {curr: 1}
			});
			getSelectData();
			$("#buildingId").val("");
			$("#unitId").val("");
			$("#houseId").val("");
			return false;
		});

		form.on("submit(searchByName)", function (data) {
			residentTable.reload({
				url: '/resident/searchByName',
				where: {name: data.field.name},
				page: {curr: 1}
			});
			$("#searchByName").val("");
			return false;
		});

	})
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="all">查看全部</button>
		<button shiro:hasPermission="1" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel">批量删除</button>
		<button shiro:hasPermission="1" class="layui-btn layui-btn-sm" lay-event="add" >添加住户</button>
<!--		th:if="${session.role} == 1"-->
	</div>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl" shiro:hasPermission="1">
	<a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon" style="color: blue">&#xe642;</i></a>
	<a href="javascript:" title="删除" lay-event="del"><i class="layui-icon" style="color: red">&#xe640;</i></a>
</script>
</body>
</html>
