<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>更新党派信息</title>
    <link rel="stylesheet" th:href="@{/css/oksub.css}">
    <script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body>
<div class="ok-body" shiro:hasPermission="1">
    <!--form表单-->
    <form class="layui-form ok-form" lay-filter="filter">
        <div class="layui-form-item">
            <label class="layui-form-label">党派编号</label>
            <div class="layui-input-block">
                <input type="text" name="id" autocomplete="off" readonly unselectable="on" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">党派名称</label>
            <div class="layui-input-block">
                <input type="text" name="party" autocomplete="off"
                       class="layui-input" lay-verify="required">
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="edit">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
            </div>
        </div>
    </form>
</div>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"></script>
<script>
    let initData;

    function initForm(data) {
        let party = {
            id: data.id,
            party: data.party,
        };

        initData = party;
    }

    layui.use(["element", "form", "okLayer", "okUtils"], function () {
        let form = layui.form;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        let $ = layui.$;
        okLoading.close();

        initForm(parent.editData);
        form.val("filter",initData);
        form.render();

        form.on("submit(edit)", function (data) {

            let party = {
                id: data.field.id,
                party: data.field.party,
            };

            $.ajax({
                url: "/party/updateParty",
                type:"put",
                data: JSON.stringify(party),
                contentType: "application/json",
                success:function (response) {
                    console.log(response);
                    if(response === 1){
                        okLayer.greenTickMsg("修改成功", function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }
                    else if(response === 2){
                        okLayer.redCrossMsg("此党派已存在，修改失败", function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }
                    else{
                        okLayer.redCrossMsg("修改失败", function () {
                            parent.layer.close(parent.layer.getFrameIndex(window.name));
                        });
                    }
                },
                error:function () {
                    console.log("error");
                }
            });

            return false;
        });
    })
</script>
</body>
</html>
