<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>修改密码</title>
	<link rel="stylesheet" th:href="@{/css/oksub.css}">
	<script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body class="childrenBody seting-pass">
<form class="layui-form changePwd" id="changePwd">
<!--	<div style="margin:0 0 15px 110px;color:#f00;">旧密码请输入“123456”，新密码必须两次输入一致才能提交</div>-->
	<div class="layui-form-item">
		<label class="layui-form-label">用户名</label>
		<div class="layui-input-block">
			<input id="name" name="name" type="text" th:value="${session.name}" disabled class="layui-input layui-disabled">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">旧密码</label>
		<div class="layui-input-block">
			<input type="password" value="" placeholder="请输入旧密码" lay-verify="required|oldPwd" class="layui-input pwd">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新密码</label>
		<div class="layui-input-block">
			<input type="password" value="" placeholder="请输入新密码" lay-verify="required|pass" id="oldPwd" class="layui-input pwd">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认密码</label>
		<div class="layui-input-block">
			<input type="password" name="password" value="" placeholder="请确认密码" lay-verify="required|confirmPwd" class="layui-input pwd">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit="" lay-filter="changePwd">立即修改</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
</body>
<script type="text/javascript" th:src="@{/lib/layui/layui.js}"></script>
<script>
	layui.use(['form', 'layer','okUtils'], function () {
		var form = layui.form, layer = layui.layer, okUtils = layui.okUtils,
				$ = layui.jquery, $form = $('form');
		okLoading.close();

		var name = $("#name").val();
		var pwd;
		var role;
		$.ajax({
			url: "/administrator/getAdmin",
			type : "post",
			data : {name :name},
			success: function(data){
				// console.log(data);//打印获得的密码
				pwd = data.password;
				role = data.role;
			},
			error: function () {
				console.log("error");
			}
		});

		//添加验证规则verify
		form.verify({
			pass: [
				/^[\S]{6,50}$/
				, '密码必须6到50位，且不能出现空格'
			],
			oldPwd: function (value, item) {
				$.ajax({
					url: "/administrator/getAdmin",
					type : "POST",
					data : {name :name},
					success: function(data){
						// console.log(data.password);
						pwd = data.password;
					},
					error: function () {
						console.log("error");
					}
				});
				if (value != pwd) {
					return "密码错误，请重新输入！";
				}
			},
			confirmPwd: function (value, item) {
				if (!new RegExp($("#oldPwd").val()).test(value)) {
					return "两次输入密码不一致，请重新输入！";
				}
			},

		});

		//修改密码
		form.on("submit(changePwd)", function (data) {
			var index = layer.msg('提交中，请稍候', {icon: 16, time: false, shade: 0.8});
			var resp;
			var Administrator ={
				"name": data.field.name,
				"password": data.field.password,
				"role": role
			};
			okUtils.ajax("/administrator/updateAdmin", "post", Administrator, false).done(function (response) {
				resp = response;
				// console.log(resp);
				if(resp === 1){
					setTimeout(function () {
						layer.close(index);
						layer.msg("密码修改成功！");
						$(".pwd").val('');
					}, 1000);
				}
				else{
					setTimeout(function () {
						layer.close(index);
						layer.msg("密码修改失败！");
						$(".pwd").val('');
					}, 1000);
				}
				setTimeout(function () {
					location.reload(true); // 过3秒刷新页面
				}, 2000);

			}).fail(function (error) {
				console.log(error);
			});

			return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
		})

	});


</script>
</html>
