<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta charset="utf-8">
	<title>管理员列表</title>
	<link rel="stylesheet" th:href="@{/css/oksub.css}">
	<script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body>
<div class="ok-body">
<!--	&lt;!&ndash;下拉框搜索区域&ndash;&gt;-->
<!--	<div class="layui-row">-->
<!--		<form class="layui-form"  lay-filter="search">-->
<!--			<div class="layui-form-item">-->
<!--				<div class="layui-inline">-->
<!--					<div class="layui-input-inline">-->
<!--						<select id="name" name="name" lay-filter="name" lay-search></select>-->
<!--					</div>-->
<!--					<div class="layui-input-inline">-->
<!--						<select id="password" name="password" lay-filter="password" lay-search></select>-->
<!--					</div>-->
<!--					<div class="layui-input-inline">-->
<!--						<select id="role" name="role" lay-filter="role" lay-search></select>-->
<!--					</div>-->

<!--					<div class="layui-input-inline">-->
<!--						<button class="layui-btn" lay-submit="submit" lay-filter="search">-->
<!--							<i class="layui-icon">&#xe615;</i>-->
<!--						</button>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</form>-->
<!--	</div>-->
	<!--数据表格-->
	<table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>

	<div style="height: 50px;"></div>
	<hr class="layui-bg-orange">

	<!--图表-->
<!--	<div class="layui-row layui-col-space15">-->
<!--		<div class="layui-col-md12">-->
<!--			<div class="layui-card">-->
<!--				<div class="layui-card-header">-->
<!--					<div class="ok-card-title">管理员分类及数量</div>-->
<!--				</div>-->
<!--				<div class="ok-card-body map-body">-->
<!--					<div style="height: 300px;" id="adminChart"></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
</div>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/lib/echarts/echarts.min.js}"></script>
<script>
	var editData;//全局变量，给edit ifram页面使用，解决父的success方法和子的initFrom方法执行顺序混乱的问题

	layui.use(["element", "jquery", "table", "form", "okLayer", "okUtils"], function () {
		let table = layui.table;
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.jquery;
		okLoading.close($);

		let adminTable = table.render({
			elem: '#tableId',
			url: "/administrator/getAllAdmin",
			where:{name:"",password:"",role:""},
			limit: 10,
			limits: [5,10,20,30,50],
			page: true,
			// toolbar: true,
			toolbar: "#toolbarTpl",
			size: "sm",
			cols: [
					[
				{type: "checkbox", fixed: "left"},
				{field: "name", title: "账号", sort: true, fixed:true, align:'center'},
				{field: "password", title: "密码", align:'center'},
				{field: "role", title: "角色", align:'center',
					templet: function (data) {
						if(data.role === 0) return "普通用户";
						else if(data.role === 1) return "管理员";
					}},
				{title: "操作", align: "center", fixed: "right", templet: "#operationTpl"}
			]
			],
			done: function (res, curr, count) {
				// console.info(res, curr, count);
			}
		});

		table.on("toolbar(tableFilter)", function (obj) {
			switch (obj.event) {
				case "batchDel":
					batchDel();
					break;
				case "add":
					add();
					break;
				case "all":
					all();
					break;
			}
		});

		table.on("tool(tableFilter)", function (obj) {
			let data = obj.data;
			switch (obj.event) {
				case "edit":
					edit(data);
					break;
				case "del":
					del(data.name);
					break;
			}
		});


		var name=null,password=null,role=null;  //后面填充select下拉框会用到的参数

		function batchDel() {
			okLayer.confirm("确定要批量删除吗？", function (index) {
				layer.close(index);
				let nameArray = okUtils.tableBatchCheck(table,'name');
				if (nameArray.length !== 0) {
					$.ajax({
						url:"/administrator/deleteAdmin",
						type:"delete",
						data:{nameArray: nameArray},
						traditional:true,
						success:function (response) {
							if(response === "1"){
								// getSelectData();
								adminTable.reload();
								// initadminChart();  // 刷新图表
								okUtils.tableSuccessMsg("删除成功");
							}
							else{
								okUtils.tableSuccessMsg("删除失败");
							}
						},
						error:function () {
							console.log("error");
						}
					});
				}
			});
		}

		function add() {								// 长度，宽度
			okLayer.open("添加管理员", "admin-add.html", "40%", "70%", null, function () {
				// getSelectData();
				adminTable.reload();  // 表格重载
				// initadminChart();  // 刷新图表
			})
		}

		function all() {
			adminTable.reload({
				where:null,
				page: {curr: 1}});
		}


		function edit(data) {
			editData = data;
			// console.log("editData = "+editData);
			okLayer.open("更新管理员", "admin-edit.html", "40%", "70%", function (layero) {
				// let iframeWin = window[layero.find("iframe")[0]["name"]];
				// iframeWin.initForm(data);
			}, function () {
				adminTable.reload();
				// initadminChart();  // 刷新图表
			})
		}

		function del(name) {
			okLayer.confirm("确定要删除吗？", function () {
				var nameArray = [];
				nameArray.push(name);
				$.ajax({
					url:"/administrator/deleteAdmin",
					type:"delete",
					data:{nameArray: nameArray},
					traditional:true,
					success:function (response) {
						if(response === "1"){
							// getSelectData();
							adminTable.reload();
							// initadminChart();  // 刷新图表
							okUtils.tableSuccessMsg("删除成功");
						}
						else{
							okUtils.tableSuccessMsg("删除失败");
						}
					},
					error:function () {
						console.log("error");
					}
				});

			})
		}



/*

		function getSelectData(){  //重新渲染select下拉框
			okUtils.ajax("/administrator/selectDistinct", "get",
					{data:"name",name:name,password:password}, false).done(function (response) {
				// console.log(response.length);
				let select = $("select[id='name']");
				select.html("");
				select.append("<option value=''>请选择账号</option>");
				$.each(response, function (i, item) {
					select.append("<option value="+ item+">"+ item+"</option>");
				});

				form.render('select','search');

			}).fail(function (error) {
				console.log(error)
			});
		}
		layer.ready(function () {
			getSelectData();
		});


		form.on('select(name)', function(data){
			// console.log(data.value);
			name = data.value; //得到被选中的值

			okUtils.ajax("/administrator/selectDistinct", "get",
					{data:"password",name:name,password:password}, false).done(function (response) {
				let select = $("select[id='password']");

				select.empty();
				$("select[id='role']").empty();

				select.html("");
				select.append("<option value=''>请选择密码</option>");
				$.each(response, function (i, item) {
					select.append("<option value="+ item+">"+ item+"</option>");
				});

				form.render('select','search');

			}).fail(function (error) {
				console.log(error)
			});

		});

		form.on('select(password)', function(data){
			password = data.value; //得到被选中的值

			okUtils.ajax("/administrator/selectDistinct", "get",
					{data:"role",name:name,password:password}, false).done(function (response) {
				let select = $("select[id='role']");
				select.empty();
				select.html("");
				select.append("<option value=''>请选择角色</option>");
				$.each(response, function (i, item) {
					select.append("<option value="+ item+">"+ item+"</option>");
				});

				form.render('select','search');

			}).fail(function (error) {
				console.log(error)
			});

		});

		form.on('select(role)', function(data){
			role = data.value; //得到被选中的值
		});

		form.on("submit(search)", function (data) {
			adminTable.reload({
				where: data.field,
				page: {curr: 1}
			});
			initadminChart();
			return false;
		});



		var adminOption = {
			legend: {left: 0},
			toolbox: {
				show : true,
				left: '35%',
				feature : {
					mark : {show: true},
					magicType : {show: true, type: ['line', 'bar']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			tooltip: {trigger: 'axis', formatter: function (params) {
					// console.log(JSON.stringify(params));
					let res = "";
					for(let i=0;i<params.length;i++){
						res ='<p>'+params[i].seriesName+': '+params[i].data.count+'</p>'
					}
					return res;
				}},
			grid: {right: '55%'},
			xAxis: {type:'category',axisTick:{alignWithLabel:true}},
			yAxis: {},
			series:[
				{
					name:"人数",
					type: 'bar',
					//设置柱状图大小
					barWidth: 30,
				},
				{
					name:"饼图",
					type: 'pie',
					id: 'pie',
					radius: '50%',
					center: ['75%', '50%'],
				}
			]
		};

		function getData(adminChart) {
			okUtils.ajax("/administrator/getAdminChart", "get",
					{name:name, password:password, role:role}, false).done(function (response) {
				// console.log("response = "+ JSON.stringify(response));
				adminChart.setOption({
					dataset: {
						// dimensions: ['role','count'],
						source: response
					},
					xAxis: {
						axisLabel:{
							formatter: function (value, index) {
								if(value === 0)
									return "普通管理员";
								else if(value === 1)
									return "超级管理员";
							}}},
					series:[
						{
							name:"人数",
							encode:{x: 'role', y: 'count'},
						},
						{
							name:"饼图",
							label:{
								show:true,
								formatter: function (params) {
									// console.log(params.data.role);
									if(params.data.role === 0)
										return "普通管理员";
									if(params.data.role === 1)
										return "超级管理员";
								}
							},
							encode:{
								value: 'count',
								// itemName: 'role'
							},
							tooltip:{
								trigger:'item', //item：格式化如下
								formatter: function (params) {
									// console.log(params.data.count);
									return params.data.count+'人';
								}}
						}

					]

				});
			}).fail(function (error) {
				console.log(error)
			});
		}

		//管理员分类及数量图表
		function initadminChart() {
			var adminChart = echarts.init($("#adminChart")[0], "theme");
			adminChart.setOption(adminOption);
			getData(adminChart);
			okUtils.echartsResize([adminChart]);
			// adminChart.on('click', function(params) {
			// 	// console.log(params);
			// 	var name = parseInt(params.name);
			// 	adminChart.setOption({
			// 	});
			// });
		}


		initadminChart();

*/

	})
</script>
<!-- 头工具栏模板 -->
<script type="text/html" id="toolbarTpl">
	<div class="layui-btn-container">
		<button class="layui-btn layui-btn-sm layui-btn-normal" lay-event="all">查看全部</button>
		<button shiro:hasPermission="1" class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel">批量删除</button>
		<button shiro:hasPermission="1" class="layui-btn layui-btn-sm" lay-event="add">添加用户</button>
	</div>
</script>
<!-- 行工具栏模板 -->
<script type="text/html" id="operationTpl" shiro:hasPermission="1">
	<a href="javascript:" title="编辑" lay-event="edit"><i class="layui-icon" style="color: blue;font-size: 20px;">&#xe642;</i></a>
	<a href="javascript:" title="删除" lay-event="del"><i class="layui-icon" style="color: red;font-size: 20px;">&#xe640;</i></a>
</script>
</body>
</html>
