<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>居民年龄统计图</title>
    <link rel="stylesheet" th:href="@{/css/oksub.css}">
    <script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body>
<div class="childrenBody ok-body-scroll">

    <!--    第一行统计图-->
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">
                    <div class="ok-card-title" style="font-size: 25px;text-align: center">
                        年龄分楼栋对比统计图</div>
                </div>
                <div class="ok-card-body map-body">
                    <div style="height: 400px;" id="ageCompareChart"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 50px;"></div>

    <!--下拉框搜索区域-->
<!--    <div class="layui-row">-->
<!--        <div class="layui-col-md2">-->
<!--            <button class="layui-btn layui-btn-normal" id="all" lay-filter="all">-->
<!--                查看全部-->
<!--            </button>-->
<!--        </div>-->
<!--        <div class="layui-col-md10">-->
<!--            <form class="layui-form" lay-filter="search">-->
<!--                <div class="layui-form-item">-->
<!--                    <div class="layui-inline">-->
<!--                        <input type="hidden" id="buildingId" name="buildingId" class="layui-input">-->
<!--                        <div class="layui-input-inline">-->
<!--                            <select id="buildingNumber" name="buildingNumber" lay-filter="buildingNumber"-->
<!--                                    lay-search></select>-->
<!--                        </div>-->

<!--                        <input type="hidden" id="unitId" name="unitId" class="layui-input">-->
<!--                        <div class="layui-input-inline">-->
<!--                            <select id="unitNumber" name="unitNumber" lay-filter="unitNumber" lay-search></select>-->
<!--                        </div>-->

<!--                        <div class="layui-input-inline">-->
<!--                            <button class="layui-btn" lay-submit="search" lay-filter="search">-->
<!--                                <i class="layui-icon">&#xe615;</i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->


    <!--    第二行-->
<!--    <div class="layui-row layui-col-space15">-->
<!--        <div class="layui-col-md12">-->
<!--            <div class="layui-card">-->
<!--                <div class="layui-card-header">-->
<!--                    <div class="ok-card-title" style="font-size: 25px;text-align: center">年龄统计图</div>-->
<!--                </div>-->
<!--                <div class="ok-card-body map-body">-->
<!--                    <div style="height: 300px;" id="ageChart"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>
</body>
<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/lib/echarts/echarts.min.js}"></script>
<!--导出excel-->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script th:src="@{/js/jquery.table2excel.js}"></script>

<script type="text/javascript" th:src="@{/lib/echarts/world/js/china.js}"></script>
<script>
    layui.use(["element", "jquery", "table", "form", "okLayer", "okUtils"], function () {
        let table = layui.table;
        let form = layui.form;
        let okLayer = layui.okLayer;
        let okUtils = layui.okUtils;
        let $ = layui.jquery;
        okLoading.close($);

// ageCompareChart 年龄对比统计图
//         var ageCompareChartOption = {
//             legend: {left: 0},
//             toolbox: {
//                 show: true,
//                 right: '10%',
//                 feature: {
//                     mark: {show: true},
//                     magicType: {show: true, type: ['line', 'bar']},
//                     restore: {show: true},
//                     saveAsImage: {show: true}
//                 }
//             },
//             tooltip: {},
//             xAxis: {type: 'category', axisTick: {alignWithLabel: true}},
//             yAxis: {},
//             series: [
//                 {type: 'bar'},
//             ]
//         };
//         function getAgeCompareChartData(chart) {
//             okUtils.ajax("/resident/statisticalAgeCompare", "get",
//                 {buildingId: $("#buildingId").val(), unitId: $("#unitId").val()}, false).done(function (response) {
//                 // console.log("response = "+ JSON.stringify(response));
//                 chart.setOption({
//                     dataset: {source: response},
//                     series: [
//                         {encode: { y: 'count'}}
//                     ]
//                 });
//             }).fail(function (error) {
//                 console.log(error)
//             });
//         }
//         function initAgeCompareChart() {
//             var chart = echarts.init($("#ageCompareChart")[0], "theme");
//             chart.setOption(ageCompareChartOption);
//             getAgeChartData(chart);
//             okUtils.echartsResize([chart]);
//         }


        var ageCompareChart = function (axisData,seriesData) {
            var myChart = echarts.init($("#ageCompareChart")[0], "theme");
            var newData = [];
            var legendData = [];
            for(let i = 0; i < seriesData.length; i++) {
                let chartItem = new serChartItem();
                chartItem.name = seriesData[i].name;
                legendData.push(seriesData[i].name+'');
                chartItem.data = seriesData[i].data;
                newData.push(chartItem);
            }

            var option = {
                tooltip: {
                    trigger: 'axis'
                },
                legend: {
                    data: legendData,
                    left: 0,
                    orient: 'vertical',
                    formatter: function (data) {
                        return data + '号楼';
                    }
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataZoom: {
                            yAxisIndex: 'none'
                        },
                        // magicType: { type: ['line', 'bar'] },

                        saveAsImage: {},
                        dataView : {
                            show: true,
                            title: '小区居民年龄统计表',
                            // readOnly: true,
                            lang: ['小区居民年龄统计表', '关闭', '导出Excel'],
                            // 使用 table2excel 从表格导出excel
                            contentToOption: function (opts) {
                                $("#tableExcel").table2excel({
                                    exclude: ".noExl", //过滤位置的 css 类名
                                    filename: '小区居民年龄统计表' + ".xls", //文件名称
                                    name: "Excel Document Name.xls",
                                    exclude_img: true,
                                    exclude_links: true,
                                    exclude_inputs: true
                                });
                            },
                            optionToContent:function(opt){
                                // console.log(opt);
                                let axisData = opt.xAxis[0].data; //坐标数据
                                let series = opt.series; //折线图数据
                                let tdHeads = '<td  style="padding: 9px 30px">年龄段</td>'; //表头
                                let tdBodys = ''; //数据
                                series.forEach(function (item) {
                                    //组装表头
                                    tdHeads += `<td style="padding: 9px 30px">${item.name}号楼</td>`;
                                });
                                let table = `<table id="tableExcel" border="1" style="margin-left:20px;border-collapse:collapse;font-size:14px;text-align:center"><tbody><tr>${tdHeads} </tr>`;
                                for (let i = 0, l = axisData.length; i < l; i++) {
                                    for (let j = 0; j < series.length; j++) {
                                        //组装表数据
                                        tdBodys += `<td>${ series[j].data[i]}</td>`;
                                    }
                                    table += `<tr><td style="padding: 10px 30px">${axisData[i]}</td>${tdBodys}</tr>`;
                                    tdBodys = '';
                                }
                                table += '</tbody></table>';
                                return table;
                            }
                        },

                        restore: {},
                    }
                },
                xAxis: {
                    type: 'category',
                    data: axisData
                },
                yAxis: {
                    type: 'value'
                },
                series: newData
            };
            myChart.setOption(option);
            okUtils.echartsResize([myChart]);
        };

        // series 数据
        var serChartItem = function () {
            return {
                name: '',
                type: 'bar',
                data: [],
                // 条形图上方显示数值
                itemStyle: {
                    normal: {
                        label: {
                            show: true, //开启显示
                            position: 'top', //在上方显示
                            textStyle: { //数值样式
                                color: 'blue',
                                fontSize: 12
                            }
                        }
                    }
                }
            }
        };


        $(document).ready(function () {
            let axisData = [];
            let buildingNumber = [];
            let seriesData = [];
            okUtils.ajax("/building/selectDistinctNumber", "get", {}, false).done(function (response) {
                // console.log("response = "+ JSON.stringify(response));
                buildingNumber = response;
                okUtils.ajax("/resident/statisticalAgeCompare", "get", {}, false).done(function (response) {
                    // console.log("response = "+ JSON.stringify(response));

                    let set = new Set();
                    $.each(response, function (index, item) { //遍历response，去掉重复的x轴数据
                        set.add(item.xData);
                    });
                    // x坐标数据
                    axisData = Array.from(set);

                    $.each(buildingNumber, function (index, item) { //遍历楼宇号，seriesData赋初值
                        let data = [];      // 踩坑：不能放到each循环外，否则seriesData.data会指向同一片内存区域
                        for(let i = 0; i < axisData.length; i++)
                            data.push(0);

                        let map = {
                            'name' : item,
                            'data' : data
                        };
                        seriesData.push(map);
                    });

                    $.each(response, function (index, item) { //遍历response，seriesData重新赋值
                        let dataModifyIndex = axisData.indexOf(item.xData); // dataModifyIndex是axisData的维度对应的seriesData.data的索引值
                        $.each(seriesData, function (seriesDataIndex, seriesDataItem) {
                            if(item.buildingNumber === seriesDataItem.name)
                                seriesData[seriesDataIndex].data[dataModifyIndex] = item.count;
                        })
                    });

                    // console.log("new seriesData ====" + JSON.stringify(seriesData));

                    ageCompareChart(axisData, seriesData);

                }).fail(function (error) {
                    console.log(error)
                });
            }).fail(function (error) {
                console.log(error)
            });



            // var axisData1 = ['0-10', '10-20', '周三', '周四', '周五', '周六', '周日'];
            // var seriesData1 = [{ name: '直接访问', data: [0, 0, 301, 334, 390, 330, 320] },
            //     {name: 'buildingNumber', data: [120, 132, 101, 134, 120, 230, 210]},
            //     {name: '联盟广告', data: [220, 182, 191, 234, 290, 330, 310]},
            //     {name: '视频广告', data: [150, 212, 201, 154, 190, 330, 410]},
            //     { name: '搜索引擎', data: [820, 832, 901, 934, 1290, 1330, 1320] }];

            // ageCompareChart(axisData1, seriesData1);

        });

        // initAgeCompareChart();
    })
</script>
</html>