<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>居民住房信息管理系统-首页</title>
	<link rel="stylesheet" th:href="@{/css/oksub.css}" media="all"/>
	<script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
	<style>
		.transform{font-size:40px;display:block;cursor:pointer;transition:All .4s ease-in-out;-webkit-transition:All .4s ease-in-out;-moz-transition:All .4s ease-in-out;-o-transition:All .4s ease-in-out}
		.transform:hover{transform:rotate(360deg);-webkit-transform:rotate(360deg);-moz-transform:rotate(360deg);-o-transform:rotate(360deg);-ms-transform:rotate(360deg)}
	</style>
</head>
<body class="ok-body-scroll console">


<div class="ok-body home">
	<div class="layui-row layui-col-space15">
		<div class="layui-col-xs6 layui-col-md3">
			<div class="layui-card">
				<div class="ok-card-body">
					<div class="img-box transform" ok-pc-in-show>
						<img th:src="@{/images/building.png}" alt="none"/>
					</div>
					<div class="cart-r">
						<div class="stat-text building-num">0</div>
						<div class="stat-heading">楼宇数量</div>
					</div>
				</div>
			</div>
		</div>

		<div class="layui-col-xs6 layui-col-md3">
			<div class="layui-card ">
				<div class="ok-card-body">
					<div class="img-box transform" ok-pc-in-show>
						<img th:src="@{/images/house.png}" alt="none"/>
					</div>
					<div class="cart-r">
						<div class="stat-text house-num">0</div>
						<div class="stat-heading">住房数量</div>
					</div>
				</div>
			</div>
		</div>

		<div class="layui-col-xs6 layui-col-md3">
			<div class="layui-card">
				<div class="ok-card-body">
					<div class="img-box transform" ok-pc-in-show>
						<img th:src="@{/images/resident.png}" alt="none"/>
					</div>
					<div class="cart-r">
						<div class="stat-text resident-num">0</div>
						<div class="stat-heading">居民数量</div>
					</div>
				</div>
			</div>
		</div>

		<div class="layui-col-xs6 layui-col-md3">
			<div class="layui-card">
				<div class="ok-card-body">
					<div class="img-box transform" ok-pc-in-show>
						<img th:src="@{/images/admin.png}" alt="none"/>
					</div>
					<div class="cart-r">
						<div class="stat-text admin-num">0</div>
						<div class="stat-heading">用户数量</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="layui-row layui-col-space15">
		<div class="layui-col-md12">
			<div class="layui-card">
					<div class="layui-card-header">
						<div class="ok-card-title" style="font-size: 25px;text-align: center">
							居民人数增长折线图</div>
					</div>
					<div class="ok-card-body map-body">
						<div style="height: 300px;" id="ResidentCheckInNumberChart"></div>
					</div>
			</div>
		</div>
<!--		<div class="layui-col-md6">-->
<!--			<div class="layui-card">-->
<!--				<div class="layui-card-header">-->
<!--					<div class="ok-card-title">近十年住房数量变化图</div>-->
<!--				</div>-->
<!--				<div class="ok-card-body map-body">-->
<!--					<div style="height: 400px;" id="HouseNumberChart"></div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
	</div>
</div>

</body>
<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/lib/layui/layui.js}"></script>
<script th:src="@{/lib/echarts/echarts.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/console.js}"></script>-->
<script>
	layui.use(["element", "jquery", "table", "form", "okLayer", "okUtils"], function () {
		let table = layui.table;
		let form = layui.form;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.jquery;
		okLoading.close($);
//获取顶部的数量
		layer.ready(function () {

			okUtils.ajax("/building/getBuildingCount", "get",
					{}, false).done(function (response) {
				$(".building-num").html(response);
			}).fail(function (error) {
				console.log(error)
			});
			okUtils.ajax("/house/getHouseCount", "get",
					{}, false).done(function (response) {
				$(".house-num").html(response);
				}).fail(function (error) {
					console.log(error)
				});
			okUtils.ajax("/resident/getResidentCount", "get",
					{}, false).done(function (response) {
				$(".resident-num").html(response);
			}).fail(function (error) {
				console.log(error)
			});
			okUtils.ajax("/administrator/getAdminCount", "get",
					{}, false).done(function (response) {
				$(".admin-num").html(response);
			}).fail(function (error) {
				console.log(error)
			});
		});


//    ResidentNumberChart 条形图
		var ResidentCheckInNumberChartOption = {
			legend: {left: 0},
			toolbox: {
				show: true,
				right: '10%',
				feature: {
					mark: {show: true},
					magicType: {show: true, type: ['line', 'bar']},
					restore: {show: true},
					saveAsImage: {show: true}
				}
			},
			tooltip: {},
			dataZoom: [
				{
					type: 'slider',
					start: 30,
					end: 80
				}
			],
			xAxis: {
				type: 'category',
			},
			yAxis: {},
			series: [
				{
					name: "人数",
					type: 'line',
				}
			]
		};
		function getResidentCheckInNumberChartData(chart) {
			okUtils.ajax("/house/ResidentCheckInNumberChart", "get","", false).done(function (response) {
				// console.log(JSON.stringify(response));
				chart.setOption({
					dataset: {source: response},
					series: [
						{
							name: "人数",
							encode: {x: 'xData', y: 'count'},
							itemStyle: {        //上方显示数值
								normal: {
									label: {
										show: true, //开启显示
										position: 'top', //在上方显示
										textStyle: { //数值样式
											color: 'blue',
											fontSize: 16
										}
									}
								}
							}
						}
					]
				});
			}).fail(function (error) {
				console.log(error)
			});
		}
		function initResidentCheckInNumberChart() {
			let chart = echarts.init($("#ResidentCheckInNumberChart")[0], "theme");
			chart.setOption(ResidentCheckInNumberChartOption);
			getResidentCheckInNumberChartData(chart);
			okUtils.echartsResize([chart]);
		}

		initResidentCheckInNumberChart();


			})
</script>
</html>




















