<!DOCTYPE html>
<html lang="en" class="page-fill" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>居民住房信息管理系统 - 登录</title>
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/css/oksub.css}"/>
</head>
<body class="page-fill">
    <div class="page-fill" id="login">
        <form class="layui-form">
            <div class="login_face"><img th:src="@{/images/logo.png}"></div>
            <div class="layui-form-item input-item">
                <label for="username">用户名</label>
                <input type="text" lay-verify="required" name="username" placeholder="请输入账号" autocomplete="off" id="username" class="layui-input">
            </div>
            <div class="layui-form-item input-item">
                <label for="password">密码</label>
                <input type="password" lay-verify="required|password" name="password" placeholder="请输入密码" autocomplete="off" id="password" class="layui-input">
            </div>
            <div class="layui-form-item input-item captcha-box">
                <label for="captcha">验证码</label>
                <input type="text" lay-verify="required|captcha" name="captcha" placeholder="请输入验证码" autocomplete="off" id="captcha" maxlength="4" class="layui-input">
                <div class="img ok-none-select" id="captchaImg"></div>
            </div>
            <div class="layui-form-item">
                <button class="layui-btn layui-block" lay-filter="login" lay-submit="">登录</button>
            </div>
<!--            <div class="login-link">-->
<!--                <a href="register.html">注册</a>-->
<!--                <a href="forget.html">忘记密码?</a>-->
<!--            </div>-->
        </form>
    </div>
    <!--js逻辑-->
    <script th:src="@{/lib/layui/layui.js}"></script>
    <script>
        !function(){  // 避免登录页面镶嵌在index框架中 https://zhidao.baidu.com/question/1817793570079100908.html
            if (self != top) {
                top.location = self.location;
            }
        }();

        layui.use(["form", "okGVerify", "okUtils", "okLayer"], function () {
            let form = layui.form;
            let $ = layui.jquery;
            let okGVerify = layui.okGVerify;
            let okUtils = layui.okUtils;
            let okLayer = layui.okLayer;

            /**
             * 初始化验证码
             */
            let verifyCode = new okGVerify("#captchaImg");

            /**
             * 数据校验
             */
            form.verify({
                password: [/^[\S]{6,50}$/, "密码必须6到50位，且不能出现空格"],
                captcha: function (val) {
                    if (verifyCode.validate(val) != "true") {
                        return verifyCode.validate(val)
                    }
                }
            });

            /**
             * 表单提交
             */
            // form.on("submit(login)", function (data) {
            //     $.ajax({
            //         url : "/login",
            //         type : "POST",
            //         data : data.field,
            //         success: function(data){
            //             console.log(data);
            //             alert(data);
            //             window.location="../index.html"
            //         },
            //         error: function () {
            //             console.log("error");
            //         }
            //     });
            //     return false;
            // });


            form.on("submit(login)", function (data) {
                okUtils.ajax("/login", "post", data.field, false).done(function (response) {
                    if(response === 1) {
                        okLayer.greenTickMsg("登录成功", function () {
                            window.location = "../index.html";
                        })
                    }
                    else if(response === 2){
                        okLayer.redCrossMsg("密码错误",function () {
                        });
                    }
                    else if(response === 0){
                        okLayer.yellowQuestionMsg("账号不存在",function () {
                        })
                    }

                }).fail(function (error) {
                    console.log(error);
                });
                return false;
            });


            /**
             * 表单input组件单击时
             */
            $("#login .input-item .layui-input").click(function (e) {
                e.stopPropagation();
                $(this).addClass("layui-input-focus").find(".layui-input").focus();
            });

            /**
             * 表单input组件获取焦点时
             */
            $("#login .layui-form-item .layui-input").focus(function () {
                $(this).parent().addClass("layui-input-focus");
            });

            /**
             * 表单input组件失去焦点时
             */
            $("#login .layui-form-item .layui-input").blur(function () {
                $(this).parent().removeClass("layui-input-focus");
                if ($(this).val() != "") {
                    $(this).parent().addClass("layui-input-active");
                } else {
                    $(this).parent().removeClass("layui-input-active");
                }
            })
        });
    </script>
</body>
</html>
