<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head>
	<meta charset="UTF-8">
	<title>添加楼宇</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" th:href="@{/css/oksub.css}">
	<script type="text/javascript" th:src="@{/lib/loading/okLoading.js}"></script>
</head>
<body>
<div class="ok-body" shiro:hasPermission="1">
	<!--form表单-->
	<form class="layui-form layui-form-pane ok-form">
		<input type="hidden" name="id" class="layui-input" value="">

		<div class="layui-form-item">
			<label class="layui-form-label">楼宇号</label>
			<div class="layui-input-block">
				<input type="text" name="buildingNumber"  placeholder="请输入楼宇号" autocomplete="off" class="layui-input"
					   lay-verify="required|number">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">建筑时间</label>
			<div class="layui-input-block">
				<input type="text" name="constructionTime" placeholder="请输入建筑时间" autocomplete="off" class="layui-input"
					   id="constructionTime" lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">物业公司</label>
			<div class="layui-input-block">
				<input type="text" name="propertyManagementCompany" placeholder="请输入物业管理公司" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">楼宇负责人</label>
			<div class="layui-input-block">
				<input type="text" name="buildingPrincipal" placeholder="请输入楼宇负责人" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">单元数量</label>
			<div class="layui-input-block">
				<input type="text" name="unitCount" placeholder="请输入该楼宇下单元数量" autocomplete="off" class="layui-input" lay-verify="required">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="add">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
			</div>
		</div>
	</form>
</div>
<!--js逻辑-->
<script th:src="@{/lib/layui/layui.js}"></script>
<script>
	layui.use(["element", "form", "laydate", "okLayer", "okUtils"], function () {
		let form = layui.form;
		let laydate = layui.laydate;
		let okLayer = layui.okLayer;
		let okUtils = layui.okUtils;
		let $ = layui.$;
		okLoading.close();

		form.verify({
			number: [/^[0-9]*$/,"楼宇号必须是数字"]
		});

		//初始化日期选择框，添加trigger，是因为点击选择框时有个小bug(日历表一闪而逝，切屏后才回来)
		laydate.render({elem: '#constructionTime', type: 'date',trigger: 'click'});
		form.on("submit(add)", function (data) {
			okUtils.ajax("/building/addBuilding", "post", data.field, true).done(function (response) {
				if(response === 1) {
					console.log(response);
					okLayer.greenTickMsg("添加成功", function () {
						parent.layer.close(parent.layer.getFrameIndex(window.name));
					});
				}
				else if(response === 2){
					okLayer.yellowSighMsg("该楼宇已存在，不可重复添加",function () {
						parent.layer.close(parent.layer.getFrameIndex(window.name));
					});
				}
				else if(response === 0){
					okLayer.yellowSighMsg("添加失败",function () {
						parent.layer.close(parent.layer.getFrameIndex(window.name));
					});
				}
			}).fail(function (error) {
				console.log(error)
			});
			return false;
		});
	});
</script>
</body>
</html>
